

.layout{
    background-color:rgb(73, 131, 238);
    height: 1400px;
}
.hero{
    text-align: center;
    padding-top: 150px;
}
.forms{
    margin-top: 100px;
       
}
.forms span{
    font-size: 25px;
    padding-left: 100px;
}
.forms input{
    border: 2px solid rgb(56, 214, 217);
    border-radius: 5%; 
    height: 50px;   
    width: 300px;
}
#button{
    background-color: rgb(235, 132, 8);
    height: 40px;
    width: 150px;
    border: 2px solid rgb(235, 132, 8);
    border-radius: 25px;
    align-content: center;
    margin-left: 500px; 
    margin-top: 100px;
}
.table{
    margin-left: 300px;
    margin-top: 150px;
    border-spacing: 100px;
    width: 50%;
    display: none;
}   
#if-empty{
    margin-left: 600px;
    margin-top: 150px;
    border-spacing: 100px;
    width: 50%;
    
}
.forms1{
    margin-top: 100px;
       
}
.forms1 span{
    font-size: 25px;
    padding-left: 100px;
}
.forms1 input{
    border: 2px solid rgb(56, 214, 217);
    border-radius: 5%; 
    height: 50px;   
    width: 300px;
}
#button1{
    background-color: rgb(235, 132, 8);
    height: 40px;
    width: 150px;
    border: 2px solid rgb(235, 132, 8);
    border-radius: 25px;
    align-content: center;
    margin-left: 400px; 
    margin-top: 100px;
}
.table1{
    margin-left: 300px;
    margin-top: 150px;
    border-spacing: 100px;
    width: 50%;
    display: none;
}   
#if-empty1{
    margin-left: 600px;
    margin-top: 150px;
    border-spacing: 100px;
    width: 50%;
    
}
.forms h2{
    padding-left: 500px;
    margin-top: 100px;
    font-family: 'Lacquer', sans-serif;
    font-size: 40px;
}
.form1 h2{
    padding-left: 500px;
    margin-top: 100px;
    font-family: 'Lacquer', sans-serif;
    font-size: 40px;
}



/* .g-signin2{
    padding-top: 370px;
    padding-left: 650px;
}



h1{
  color:green;
  text-align: center;
  
}
h2{ 
  color:green;
  position: absolute;
  top:1100px;
  left:550px;
}

p{
  font-size: 26px;
  color:rgba(88, 58, 20, 0.945);
  text-align: center;
  font-family: 'Merriweather', serif;
font-family: 'Lobster', cursive;
}

h1 {
text-decoration: underline;
font-family: 'Merriweather', serif;


}

h3{
  color:rgb(71, 39, 9);
}
 */
.background-img{
  position: fixed;
  left: 0;
  right: 0;
  z-index: 1;
  display: flex;
  background-image: url("/img/");
  padding-bottom: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.nav-bar {
  width: 100%;
  margin: 0 auto;
  background-color: rgba(255, 255, 255, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
  border-bottom: 1.2px solid white;
}

.hero-section{
  text-align: center;
  padding-left: 300px;
  padding-top: 200px;
  color:  #0669BF;
  position: fixed;
}
.hero-section{
  padding-top: 100px;
  padding-left: 570px;
} 

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  opacity: 0.5;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 25px 28px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}



#startbtn{
  border-radius:6px;
    color: black;
    font-family: 'Oswald';
    font-size: 20px;
    text-decoration: none;
    cursor: pointer;
    border:none;
}



#startbtn:hover {
    border: none;
    background:red;
    box-shadow: 0px 0px 1px #777;
}
.head{
  padding-top: 700px;
  margin-left: 100px
}
.jumbotron{
  padding-top: 1000px
}

.con{
  background-image: linear-gradient(to right, #74ebd5 0%, #9face6 100%);}
.copy{
  text-align: right;
  font-size: 12px;
}
.control{
    z-index: 9999;

}
.pad h1{
  padding-left: 30px;
  color: green;
  text-align: center;
  padding-top: 20px;


}
.pad p{
  text-align: center;
  font-family: 'Darker Grotesque', sans-serif;
  font-size: 24px;

}
.si{
  padding-left: 200px;
  /* color: #0669BF; */
}
.cont{
  position: relative;
}

  /* .mu {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  } */
  #about h1{
    color: green;
    text-align: center;

  }
  #about p{
text-align: center; 
font-family: 'Darker Grotesque', sans-serif;
font-size: 24px;

}
.ser h1{
  color: green;
  text-align: center;
  
}
.ser p{
  text-align: center;
  font-family: 'Darker Grotesque', sans-serif;
  font-size: 24px;
}
.gal h2{
  color: green;
}
.img{
  padding-left: 80px;
}





